body {
  margin: 0;
}

body,
.basic-text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.main-color {
  color: $main-color;
}

.no-basic-styling {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  .logo {
    width: 12.3125rem;
    height: 2.25rem;
    padding: 0.875rem 0 0.8125rem 0;
  }
  .location {
    background-color: var(--Grey-2, #eaeaea);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    .fa-location-dot {
      width: 0.75rem;
      height: 1rem;
    }
    .location-text {
      color: #353535;
      font-weight: 500;
    }
  }
}

section.explanation {
  background-color: #f6f6f6;
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  gap: 1rem;
  .title {
    /* Attention est used pour plusieurs heading penser à en faire une fonction sans le width */
    color: black;
    margin: 0;
    width: 75%;
    font-size: 1.5rem; /* all values are taken from Figma for now / toutes les valeurs sont prises de figma pour l'instant */
    font-weight: 700;
  }
  .explanation-text {
    color: #353535;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 300;
    padding-bottom: 1rem;
  }
  .btn-main-color {
    @include btn-component-main-color();
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }
  .btn-main-color:hover {
    opacity: 0.75;
    transition: opacity 300ms ease-in-out;
  }
  .centered{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

section.functioning {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  .functioning-title {
    padding-left: 5%;
  }
  .btn-functioning {
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 4rem; /* à modifier pour mobile et que desktop passe */
    .grey-btn {
      @include btn-component-secondary-grey();
      .fa-mobile-screen-button,
      .fa-list-ul,
      .fa-store {
        position: relative;
        left: -20px;
      }
      .hover-effect {
        color: #7e7e7e;
      }
      .circle-number {
        overflow-x: visible;
        position: relative;
        left: -20px;
        .number {
          font-family: "Roboto", sans-serif;
          position: relative;
          color: white;
          left: -50%;
        }
      }
    }
    .grey-btn:hover > .hover-effect {
      color: $main-color;
    }
  }
}

section.restaurants {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem; /* à changer aussi */
  .restaurant-title {
    width: 90%;
  }
  .card {
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border-radius: 1rem;
    width: 90%;
    a.width {
      width: 100%;
      .dishes {
        width: 100%;
        height: 235px; /* between desktop & mobile the height seem to be constant */
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
      }
    }
    .badge-container {
      position: absolute;
      top: 10px;
      right: 10px;
      span.green-badge {
        display: inline-block;
        @include badge-green-new();
      }
    }
  }
}

.under-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div.card-text {
    padding-left: 3%;
    .menu-name {
      margin-bottom: 5%;
      font-size: 1.125rem;
      font-weight: 700;
    }
    .light {
      margin-top: 0;
      font-weight: 300;
    }
  }
  @include liking();
}

.footer {
  @include footer();
}

@media (min-width: 1024px) {
  section.functioning {
    justify-content: center;
    align-items: center;
    .functioning-title {
      align-self: flex-start;
    }
    .btn-functioning {
      gap: 5%;
      flex-flow: row nowrap;
      width: 90%;
      padding-bottom: 3rem;
    }
  }

  section.restaurants > .restaurant-title {
    flex-basis: 90%;
  }
  section.restaurants {
    flex-flow: row wrap;
    padding-bottom: 0;
    .card {
      width: 39%; /* 39.5% / 39 - 40% */
      margin: 0 3rem 3rem 3rem;
    }
  }
}






  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: fixed;
    left: calc(50% - 20px);
    top: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 0.75s linear infinite, fadeOut 0.5s 2.5s forwards;
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: fixed;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid $main-color;
    animation: prixClipFix 1s linear forwards;
  }
  .loader::after{
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: $greenish-bg;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    50%   {transform: rotate(180deg);}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  } 

  @keyframes fadeOut {
    from { opacity: 1; z-index: 100; }
    to { opacity: 0; z-index: -100; }
  }


  .loader ~ *{
    animation: invisible 3s forwards;
  }
  @keyframes invisible {
    0% { opacity: 0;}
    80% { opacity: 0; }
    100% {opacity: 1}
  }
