$greenish-bg: #99e2d0;
$green-font: #008766;
$main-color: #9356dc;
$footer-bg: #353535;

$linear-gradient-btn: hsla(317, 100%, 74%, 0.75), hsl(267, 66%, 60%);



@mixin btn-component-main-color{
    color: white;
    background: linear-gradient($linear-gradient-btn);
    border-radius: 1.5625rem;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border: none;
    width: 13.625rem; /* Valeur de With pour Commander = 11.625rem mais même height */
    height: 3.125rem;
}

@mixin btn-component-secondary-grey{
    background: #F6F6F6;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 4.5rem;
    width: 85%;
    border: none;
    border-radius: 1.25rem;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15)
}


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.basic-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
    .logo {
        width: 12.3125rem;
        height: 2.25rem;
        padding: 0.875rem 5.5625rem 0.8125rem 5.5625rem;
    }
    .location {
        background-color: var(--Grey-2, #EAEAEA);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        .fa-location-dot {
            width: 0.75rem;
            height: 1rem;
        }
        .location-text{
                color: #353535;
                font-weight: 500;
        }
    }
}


section.explanation{
    background-color: #F6F6F6;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    gap: 1rem;
        .title{ /* Attention est used pour plusieurs heading penser à en faire une fonction sans le width */
            color: black;
            margin: 0;
            width: 75%;
            font-size: 1.5rem; /* all values are taken from Figma for now / toutes les valeurs sont prises de figma pour l'instant */
            font-weight: 700;
        }
        .explanation-text{
            color: #353535;
            margin: 0;
            font-size: 1.125rem;
            font-weight: 300;
            padding-bottom: 1rem; 
        }
        .btn{
            @include btn-component-main-color();
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
        }
}


section.functioning{
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    .functioning-title{
        padding-left: 5%;
    }
    .btn-functioning{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; 
        gap: 1.5rem;
        padding-bottom: 20%;
        .grey-btn{
            @include btn-component-secondary-grey();
            .fa-lg{
                position: relative;
                left: -4%;
            }
            .circle-number{
                position: relative;
                left: -6%;
                .number{
                    font-family: 'Roboto', sans-serif;
                    position: relative;
                    color: white;
                    left: -50%;
                }
            }
        }
    }

}



section.restaurants{
    background-color: rgb(246, 246, 246);
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 15%;
    .restaurant-title{
        padding-right: 55%;
    }
    .card{
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        border-radius: 1rem;
        width: 90%;
        .dishes{
            width: 100%;
            height: 235px; /* between desktop & mobile the height seem to be a constant */
            object-fit: cover;  
            border-radius: 1rem 1rem 0 0;
        }
    }
}
.under-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div.card-text{
        padding-left: 3%;
        .menu-name{
            margin-bottom: 5%;
            font-size: 1.125rem;
            font-weight: 700;
        }
        .light{
            margin-top: 0;
            font-weight: 300;
        } 
    }
    div.like{
        padding-right: 5%;
    }
}


.footer{
    background-color: $footer-bg;
    color: white;
    display: flex;
    flex-flow: column;
    padding-left: 5%;
    padding-bottom: 5%;
    .footer-text{
        font-family: 'Shrikhand';
        letter-spacing: 1px;
        font-weight: 400;
    }
    .proposal, .partnership{
        display: flex;
        align-items: center;
        gap: 3%;
        position: relative;
        left: 1%;
    }
    .partnership{
        gap: 2%;
    }
    .lighter{
        font-weight: 400;
    }
    .less-margin{
        margin: 1%;
    }
}