@charset "UTF-8";
body {
  margin: 0;
}

body, .basic-text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.header .logo {
  width: 12.3125rem;
  height: 2.25rem;
  padding: 0.875rem 5.5625rem 0.8125rem 5.5625rem;
}
.header .location {
  background-color: var(--Grey-2, #EAEAEA);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.header .location .fa-location-dot {
  width: 0.75rem;
  height: 1rem;
}
.header .location .location-text {
  color: #353535;
  font-weight: 500;
}

section.explanation {
  background-color: #F6F6F6;
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
section.explanation .title { /* Attention est used pour plusieurs heading penser à en faire une fonction sans le width */
  color: black;
  margin: 0;
  width: 75%;
  font-size: 1.5rem; /* all values are taken from Figma for now / toutes les valeurs sont prises de figma pour l'instant */
  font-weight: 700;
}
section.explanation .explanation-text {
  color: #353535;
  margin: 0;
  font-size: 1.125rem;
  font-weight: 300;
  padding-bottom: 1rem;
}
section.explanation .btn-main-color {
  color: white;
  cursor: pointer;
  background: linear-gradient(hsla(317, 100%, 74%, 0.75), hsl(267, 66%, 60%));
  border-radius: 1.5625rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  width: 13.625rem; /* Valeur de With pour Commander = 11.625rem mais même height */
  height: 3.125rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
section.explanation .btn-main-color:hover {
  opacity: 0.75;
  transition: opacity 300ms ease-in-out;
}

section.functioning {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}
section.functioning .functioning-title {
  padding-left: 5%;
}
section.functioning .btn-functioning {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 20%;
}
section.functioning .btn-functioning .grey-btn {
  background: #F6F6F6;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 4.5rem;
  width: 85%;
  border: none;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
section.functioning .btn-functioning .grey-btn .fa-mobile-screen-button, section.functioning .btn-functioning .grey-btn .fa-list-ul, section.functioning .btn-functioning .grey-btn .fa-store {
  position: relative;
  left: -4%;
}
section.functioning .btn-functioning .grey-btn .fa-list-ul, section.functioning .btn-functioning .grey-btn .fa-mobile-screen-button {
  color: #7e7e7e;
}
section.functioning .btn-functioning .grey-btn .fa-store {
  color: #9356dc;
}
section.functioning .btn-functioning .grey-btn .circle-number {
  position: relative;
  left: -6%;
}
section.functioning .btn-functioning .grey-btn .circle-number .number {
  font-family: "Roboto", sans-serif;
  position: relative;
  color: white;
  left: -50%;
}

section.restaurants {
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 15%;
}
section.restaurants .restaurant-title {
  padding-right: 55%;
}
section.restaurants .card {
  position: relative;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  border-radius: 1rem;
  width: 90%;
}
section.restaurants .card a.width {
  width: 100%;
}
section.restaurants .card a.width .dishes {
  width: 100%;
  height: 235px; /* between desktop & mobile the height seem to be constant */
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
section.restaurants .card .badge-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
section.restaurants .card .badge-container span.green-badge {
  display: inline-block;
  color: #008766;
  background-color: #99e2d0;
  text-align: center;
  line-height: 1.8125rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.125rem;
  width: 5rem;
  height: 1.8125rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.under-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.under-card div.card-text {
  padding-left: 3%;
}
.under-card div.card-text .menu-name {
  margin-bottom: 5%;
  font-size: 1.125rem;
  font-weight: 700;
}
.under-card div.card-text .light {
  margin-top: 0;
  font-weight: 300;
}
.under-card .like {
  height: 24px;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.under-card .like .hidden {
  z-index: -1;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 0;
}
.under-card .like .hide {
  position: absolute;
  opacity: 0;
}
.under-card .like .gradient {
  line-height: 26px;
  background: linear-gradient(hsl(267, 66%, 60%), hsla(317, 100%, 74%, 0.75)); /* Can't use the gradient cause colors are inverted */
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.under-card .like .hidden:checked + .hide {
  opacity: 1;
}
.under-card .like .hidden:checked ~ .fa-regular {
  opacity: 0;
}

.footer {
  background-color: #353535;
  color: white;
  display: flex;
  flex-flow: column;
  padding-left: 5%;
  padding-bottom: 5%;
}
.footer .footer-text {
  font-family: "Shrikhand";
  letter-spacing: 1px;
  font-weight: 400;
}
.footer .proposal, .footer .partnership {
  display: flex;
  align-items: center;
  gap: 3%;
  position: relative;
  left: 1%;
}
.footer .partnership {
  gap: 2%;
}
.footer .lighter {
  font-weight: 400;
}
.footer .less-margin {
  margin: 1%;
}/*# sourceMappingURL=style.css.map */